.header-space { margin-top: 20px; }
.footer-space { margin-bottom: 20px; }
.header-space-xl { margin-top: 60px; }
.footer-space-xl { margin-bottom: 60px; }

.navbar-default {
 background-color: #fff;
 border: none;
}

input:focus,
input:before,
select:focus,
textarea:focus,
button:focus,
button:active,
:focus {
    outline: none;
}

body {
  font-family: 'Px Grotesk Light';
}

.gift-text {
  font-size: 2.6em;
  text-transform: lowercase;
}

.gift-text select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: #fff;
  font-family: 'Px Grotesk Light Italic';
}

option {
  display: none;
}

#id_address {
  font-family: 'Px Grotesk Light Italic';
  font-size: 2em;
  color: #606060;
  border: none;
  padding: 4px;
}

.btn.btn-default {
  background-color: #9b24ff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 1.4em;
}

.about-page {
  font-size: 1.6em;
}

.about-page h1 {
  color: #9b24ff;
  text-transform: uppercase;
  font-size: 4em;
}
