nav(role='navigation').navbar.navbar-default
  .container-fluid
    .row
      .col-xs-3.col-xs-offset-9
        ul.nav.navbar-nav
          li
            a(href='/about/') About
          li
            a(href='mailto:hi@giftroulette.me?subject=hello') Contact
